@model IEnumerable<Pet_Store.Models.Pet>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<p>
</p>
<table class="table table-bordered table-hover table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Short_Description)
        </th>
        <th>Details</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Short_Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
